.main{
  display: flex;
  flex-direction: column;
}
.main>div {
  margin-top: 1vw;
}
.toprow {
  display: flex;
  justify-content: space-between;
}
.toprow>div {
  background-color: rgb(11, 129, 94);
  width: 32vw;
  height: 15vh;
}

.midrow {
  background-color: rgb(11, 129, 94);
  height: 45vh;
  position: relative;
}

.botrow {
  background-color: greenyellow;
  height: 3vh;
}

.triangle {
  width: 0px;
 height: 0px;
 border: 150px solid;
 position: absolute;
 }

.dark {
  border-color: transparent transparent #055011 transparent;
  border-width: 0 20vw 50vh 20vw;
  bottom: 0;
  right: 9vw;
}
.light {
  border-color: transparent transparent #aeca4a transparent;
  border-width: 0 12vw 30vh 12vw;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.person-box {
  height: 30%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.person {
  height: 100%;
  margin-left: 0;

}

.circle {
  border-radius: 50%;
  position: absolute;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.small {
  width: 1em;
  height: 1em;
}

.large  {
  width: 4em;
  height: 4em;
}

#one {
  top: 15%;
  left: 5%;
}

#two {
  top: 5%;
  left: 6%;
}

#three {
  top: 7%;
  left: 40%;
}

#four {
  top: 15%;
  left: 31.5%;
}

#five {
  top: 25%;
  left: 20%;
}

#six {
  top: 8%;
  left: 24%;
}

label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}



@media (max-width: 1024px) {
  .person-box {
    height: 20%;
  }
}

@media (max-width: 600px) {
  .person-box {
    height: 15%;
  }
}

@media (max-width: 480px) {
  .person-box {
    height: 10%;
  }
  .form {
    text-align: center;
  }
}